* {
  box-sizing:border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.game-container {
  position: relative; 
  width: 816px;
  height: 600px;
  margin: 0 auto;
  outline: 1px solid #fff;

  transform: scale(1) translateY(20%);
}

.game-container canvas {
  image-rendering: pixelated;
}